version: "3"
services:
  wiremock:
    image: "holomekc/wiremock-gui"
    ports:
      - "8080:8080"
    container_name: my_wiremock
    entrypoint: [ "/docker-entrypoint.sh", "--global-response-templating", "--disable-gzip", "--verbose" ]

#http://localhost:8080/__admin/webapp/mappings